*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.outerNode{
    width: 540px;
    height: 332px;
}

.videoNode{
    width: 540px;
    height: 305px;
}

.controlsNode{
    width: 540px;
    height: 27px;
}
.playNode{}
.loadNode{}
.timeNode{}
.volumeNode{}
.volumeLine{}
.fullscreenNode{}
