*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.outerNode{
    width: 540px;
    height: 332px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -166px;
    margin-left: -270px;    
}

.videoNode{
    width: 540px;
    height: 305px;
}

.controlsNode{
    width: 540px;
    height: 27px;
    background: url(images/ctrs_bg.gif);
}
.playNode{}
.loadNode{}
.timeNode{}
.volumeNode{}
.volumeLine{}
.fullscreenNode{}
