*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.outerNode{
    width: 540px;
    height: 332px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -166px;
    margin-left: -270px;  
    overflow: hidden;
    /* font-size: 0; 该句会使白边缩小，但不会完全消失 */
    background-color: black;
}

.videoNode{
    width: 540px;
    height: 305px;
    
    /*video是行内元素，默认带白边，变为块级元素后白边消失*/
    display: block; 
}

.controlsNode{
    width: 540px;
    height: 27px;
    background: url(images/ctrs_bg.gif);
    overflow: hidden;
}
.playNode{
    width: 14px;
    height: 14px;
    float: left;
    margin: 6.5px 0 0 16px;
    background: url(images/playNode.png);
}
.pauseNode{
    width: 14px;
    height: 14px;
    float: left;
    margin: 6.5px 0 0 16px;
    background: url(images/pause.png);
}
.loadNode{
    width: 180px;
    height: 10px;
    background: url(images/load_bg.png);
    float: left;
    margin-top: 8px;
    margin-left: 12px;
    border-radius: 4px;
    position: relative;
}
.load_line{
    width: 0;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0.5px;
    background: url(images/line_bg.png);
    border-radius: 3px;
}
.ctrlNode{
    width: 16px;
    height: 16px;
    background: url(images/crl_bg.png);
    position: absolute;
    left: 0;
    top: -3px;
    z-index: 3;
    margin-left: 0;
}
.timeNode{
    float: left;
    width: 80px;
    height: 16px;
    margin: 5.5px 0 0 8px;
    color: #fff;
    font-size: 12px;
}
.volumeNode{
    width: 17px;
    height: 17px;
    background: url(images/volume_bg.png);
    float: left;
    margin: 5px 0 0 32px;
}
.volumeLine{
    width: 100px;
    height: 10px;
    background: url(images/volumeLine_bg.png);
    border-radius: 4px;
    float: left;
    margin: 8.5px 0 0 8px;
    position: relative;
}
.v_DragNode{
    width: 16px;
    height: 16px;
    background: url(images/crl_bg.png);
    position: absolute;
    left: 20px;
    top: -3px;
}
.fullscreenNode{
    width: 15px;
    height: 15px;
    background: url(images/full_bg.png);
    float: left;
    margin: 5.5px 0 0 48px;
}
